In [297]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model

In [298]:
df = pd.read_csv('C:\\Users\\ventu\\Python Projects\\Student Loats\\Portfolio-by-Location.csv',header=5)

In [299]:
df = df.dropna(how='all',axis='columns')
df = df.dropna()

In [300]:
df['Balance(in billions)'] = df["Balance(in billions)"].map(lambda str: str.lstrip('$'))
df['Borrowers(in thousands)'] = df['Borrowers(in thousands)'].map(lambda str: str.replace(',',''))
df.head()

     Location Balance(in billions) Borrowers(in thousands)
0     Alabama                 21.5                  600.3
1      Alaska                  2.2                   66.2
2     Arizona                 28.5                  836.6
3    Arkansas                 11.9                  368.7
4  California                135.0                 3834.5

In [301]:
df.drop(df.tail(2).index,inplace=True)

In [302]:
df['Balance(in billions)'] = df['Balance(in billions)'].astype(float)
df['Borrowers(in thousands)'] = df['Borrowers(in thousands)'].astype(float)

In [303]:
df['Per Capita Borrowed'] = (df['Balance(in billions)']/df['Borrowers(in thousands)'])*1000000

Cleaned up the data and converted the figures to float, added a column that averaged the amount per borrower.

In [304]:
df = df.round(0)
df = df.drop(39,axis=0).reset_index(drop=True)

I'm adding in information from Bureau of Economic Analysis. It's disposable income so after taxes income and I had to remove Puerto Rico since it was not available.

In [305]:
income = pd.read_csv('C:\\Users\\ventu\\Python Projects\\Student Loats\\Per_Capita_Income.csv',skiprows=6,usecols=[1,2],names=['State','Per Capita Income'])

In [306]:
income.drop(income.tail(13).index,inplace=True)

In [307]:
income['State'] = income['State'].map(lambda str: str.rstrip(' *'))

In [323]:
df['Per Capita Income'] = income['Per Capita Income']
df

,Location,Balance(in billions),Borrowers(in thousands),Per Capita Borrowed,Per Capita Income
0,Alabama,22.0,600.0,35815.0,38215.0
1,Alaska,2.0,66.0,33233.0,54430.0
2,Arizona,28.0,837.0,34066.0,39955.0
3,Arkansas,12.0,369.0,32276.0,39171.0
4,California,135.0,3834.0,35207.0,54800.0
5,Colorado,27.0,746.0,35676.0,51405.0
6,Connecticut,16.0,471.0,33744.0,65063.0
7,Delaware,4.0,118.0,35745.0,46406.0
8,District of Columbia,6.0,116.0,53587.0,70167.0
9,Florida,91.0,2451.0,37049.0,45273.0
10,Georgia,62.0,1553.0,40183.0,41578.0
11,Hawaii,4.0,119.0,35205.0,49487.0
12,Idaho,7.0,210.0,31414.0,39587.0
13,Illinois,58.0,1594.0,36317.0,49890.0
14,Indiana,28.0,886.0,31821.0,42383.0
15,Iowa,13.0,430.0,29316.0,44965.0
16,Kansas,12.0,375.0,31458.0,46057.0
17,Kentucky,18.0,578.0,31672.0,38075.0
18,Louisiana,20.0,612.0,33165.0,42055.0
19,Maine,6.0,180.0,31755.0,43909.0
20,Maryland,33.0,805.0,41252.0,55128.0
21,Massachusetts,29.0,866.0,33037.0,61147.0
22,Michigan,48.0,1393.0,34735.0,42979.0
23,Minnesota,25.0,779.0,32366.0,49902.0
24,Mississippi,15.0,420.0,35476.0,34752.0
25,Missouri,28.0,810.0,34334.0,42647.0
26,Montana,4.0,121.0,32312.0,42627.0
27,Nebraska,7.0,241.0,30667.0,47931.0
28,Nevada,11.0,324.0,32767.0,44046.0
29,New Hampshire,6.0,185.0,32468.0,54991.0
30,New Jersey,39.0,1136.0,33982.0,59180.0
31,New Mexico,7.0,220.0,32757.0,38068.0
32,New York,87.0,2382.0,36650.0,58005.0
33,North Carolina,44.0,1226.0,36218.0,41049.0
34,North Dakota,2.0,83.0,28812.0,50037.0
35,Ohio,59.0,1756.0,33540.0,43579.0
36,Oklahoma,14.0,463.0,30676.0,42008.0
37,Oregon,19.0,528.0,35998.0,44397.0
38,Pennsylvania,60.0,1754.0,34327.0,49869.0
39,Rhode Island,4.0,136.0,30973.0,48742.0
40,South Carolina,25.0,684.0,37005.0,39401.0
41,South Dakota,3.0,112.0,30466.0,47755.0
42,Tennessee,29.0,818.0,35064.0,42922.0
43,Texas,107.0,3368.0,31861.0,45904.0
44,Utah,9.0,293.0,31357.0,41278.0
45,Vermont,3.0,75.0,36000.0,48620.0
46,Virginia,39.0,1036.0,37838.0,50627.0
47,Washington,26.0,765.0,33969.0,55452.0
48,West Virginia,7.0,220.0,30951.0,37061.0
49,Wisconsin,22.0,712.0,30780.0,45733.0
50,Wyoming,2.0,52.0,28902.0,54713.0

In [318]:
predict = 'Per Capita Borrowed'
X = np.array(df['Per Capita Income'])
Y = np.array(df[predict])

In [322]:
X = X.reshape(-1,1)
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X, Y, test_size = 0.1)
linear = linear_model.LinearRegression()
linear.fit(x_train, y_train)
linear.score(x_test,y_test)

0.21835980726748938

In [325]:
linear.coef_

array([0.18736976])